1. What are data structures, and why are they important?


*   Data structures are ways to organize and store data efficiently in a computer so it can be accessed and modified easily. They are essential because they help manage large amounts of data for operations like searching, sorting, and processing, ensuring optimal performance.

2. Explain the difference between mutable and immutable data types with examples.

*   Mutable data types can be changed after creation (e.g., lists, dictionaries), while immutable types cannot be modified (e.g., strings, tuples).

In [ ]:
a = [1, 2]  # Mutable
a.append(3)  # Allowed
b = "hello"  # Immutable
b[0] = "H"  # Not allowed

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

*   Lists are mutable, can be changed after creation, and generally slower. Tuples are immutable, faster, and used for fixed data.

4. Describe how dictionaries store data.


*   Dictionaries store data as key-value pairs using a hash table internally. Each key maps to a value and allows fast retrieval.

5. Why might you use a set instead of a list in Python?


*   Sets are used when you want to store unique items and perform operations like union, intersection efficiently.

6. What is a string in Python, and how is it different from a list?


*   A string is an immutable sequence of characters, while a list is a mutable collection that can hold different data types.

7. How do tuples ensure data integrity in Python?


*   Tuples are immutable, which makes them useful for fixed collections. Their immutability ensures data can’t be changed unintentionally.

8. What is a hash table, and how does it relate to dictionaries in Python?


*   A hash table maps keys to values using a hash function. Python dictionaries are implemented using hash tables for fast key lookup.

9. Can lists contain different data types in Python?


*   Yes, Python lists are heterogeneous and can store different types like integers, strings, even other lists or objects.

10. Explain why strings are immutable in Python.


*   Strings are immutable to ensure performance, security, and thread safety. Changing a string creates a new object.

11. What advantages do dictionaries offer over lists for certain tasks?


*   Dictionaries allow fast lookup using keys, making them better for associative data. Lists require linear search for the same.

12. Describe a scenario where using a tuple would be preferable over a list.


*   When you want to return multiple values from a function or use data as a dictionary key, tuples are preferable because they are immutable.

13. How do sets handle duplicate values in Python?


*   Sets automatically discard duplicates. Adding the same element multiple times results in one unique entry.

14. How does the “in” keyword work differently for lists and dictionaries?

*   For lists, it checks if the item is present in the values. For dictionaries, it checks for presence of a key.

15. Can you modify the elements of a tuple? Explain why or why not.


*   No, tuples are immutable. Once created, you cannot change or assign new values to their elements.

16. What is a nested dictionary, and give an example of its use case.


*   A nested dictionary is a dictionary inside another dictionary.

In [ ]:
student = {
    'name': 'John',
    'grades': {
        'math': 90,
        'science': 85
    }
}

# Access values using keys
print("Student Name:", student['name'])
print("Math Grade:", student['grades']['math'])
print("Science Grade:", student['grades']['science'])

Student Name: John
Math Grade: 90
Science Grade: 85

17. Describe the time complexity of accessing elements in a dictionary.


*   Accessing an element in a dictionary is on average O(1) time due to hash-based indexing.

18. In what situations are lists preferred over dictionaries?


*   Lists are preferred when order matters or when storing simple sequences without needing key-value association.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?


*   Before Python 3.7, dictionaries didn’t maintain insertion order. While modern versions do, they're still optimized for key-based lookup, not order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.


*   Lists retrieve values using index positions, whereas dictionaries retrieve values using unique keys, which allows faster lookups.

Pactical Answers

1. Create a string with your name and print it

In [ ]:
name = "Yavnika"
print(name)

Yavnika

2. Find the length of the string "Hello World"

In [ ]:
text = "Hello World"
print(len(text))

11

3. Slice the first 3 characters from "Python Programming"

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

4. Convert "hello" to uppercase

In [ ]:
text = "hello"
print(text.upper())

HELLO

5. Replace "apple" with "orange" in "I like apple"

In [ ]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Append 10 to list [1, 2, 3, 4]

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Remove 3 from list [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Access second element in ['a', 'b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Reverse the list [10, 20, 30, 40, 50]

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers[::-1])

[50, 40, 30, 20, 10]

11. Create a tuple with 100, 200, 300 and print it

In [ ]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

12. Access second-to-last element of ('red', 'green', 'blue', 'yellow')

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Find minimum in (10, 20, 5, 15)

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Find index of "cat" in ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Create a tuple of 3 fruits and check if "kiwi" is in it

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

False

16. Create set with 'a', 'b', 'c' and print it

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. Clear all elements from {1, 2, 3, 4, 5}

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Remove 4 from {1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Union of {1, 2, 3} and {3, 4, 5}

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Intersection of {1, 2, 3} and {2, 3, 4}

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Create dict with "name", "age", "city" and print it

In [ ]:
person = {"name": "Yavnika", "age": 24, "city": "New delhi"}
print(person)

{'name': 'Yavnika', 'age': 24, 'city': 'New delhi'}

22. Add "country": "USA" to {'name': 'John', 'age': 25}

In [ ]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access value of "name" in {'name': 'Alice', 'age': 30}

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Create and print a list, a tuple, and a dictionary

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. List of 5 random numbers between 1 and 100, sort & print

In [ ]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[7, 34, 36, 81, 95]

28. List with strings, print element at third index

In [ ]:
words = ["Manali", "Jibhi", "Rishikesh", "Banaras", "Assam"]
print(words[3])

Banaras

29. Combine two dictionaries and print result

In [ ]:
a = {"name": "John"}
b = {"age": 25}
combined = {**a, **b}
print(combined)

{'name': 'John', 'age': 25}

30. Convert list of strings into a set

In [ ]:
words = ["Manali", "Jibhi", "Rishikesh", "Manali", "Assam"]
unique_words = set(words)
print(unique_words)

{'Rishikesh', 'Jibhi', 'Assam', 'Manali'}